body{
    font-family: arial, sans-serif;
    background: rgb(10, 0, 0);
    height: 100vh;
    overflow-y: hidden;
}

#principal{
    background-color: #B7B7B7;
    height: 100vh;
    max-width: 738px;
    width: 738px;
    margin-left: 30%;
    margin-right: 30%;
}

.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 471px;
    background-position: right;
    background-size: cover;
    width: 738px;
    
}

.hero-content{
    color: white;
    margin-top: -15px;
}

.hero-content h1{
    text-transform: uppercase;
    text-indent:35px ;
    font-size: 55px;
    text-shadow: 3px 3px 2px #333;
    padding-top: 190px ;
    margin: 0 170px;
}

.hero-content p{
    background-color:  #000000;
    opacity: 0.6;
    color: white;
    padding: 15px 0 20px 20px;
    font-size: 15px;
    border-bottom:2.5px solid white ;
    margin: 50px 238px;
    font-weight: bold;
}

main{
    background-color: #B7B7B7;
    width: 737px;
    height:448px;    
}

.content-section{
    background-color: #FFFFFF;
    padding: 15px ;
    width: 640px;
    margin: 15px 45px 0 35px;
    display: flex;
    height: 155px;
}

.content-section2{
    background-color: #FFFFFF;
    padding: 15px ;
    width: 640px;
    margin: 15px 45px 0 35px;
    height: 150px;
}

.content-section .card{
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: -3px 14px 0 -5px;
    width: 211px;
    height: 162px;
}
    
.content-section2 .content-header{
	background-color: #FFFFFF;
    width: 640px;
    height: 150px;
}

.content-section2 p{
	background-color: #FFFFFF;
    margin: -50px 10px 0 0;
}

.content-header h2{
    margin: -5px 0 0 0 ;
    height: 38px;
    background-color: #EEEEEE;
    padding-left: 15px;
    padding-top: 12px;
    text-transform: lowercase;
    border-bottom: 2px solid #B7B7B7 ;

}

.rodape{
	color: white;
	font-size: 14px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	background: #6b6c68;
    line-height: 69px;
    width: 738px;
    margin-top: -70px;
}
#principal .hero ul li{
    background-color: #A5A4A1;
    padding:  13px ;
    float: right;
    text-transform: uppercase;
    margin: 23px 26px 0 0;
    background-position: right;
    list-style: none;
    border: solid 1.5px rgb(255, 249, 249);
}

a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

