body{
    font-family: arial, sans-serif;
    background: rgb(10, 0, 0);
    height: 100vh;
    overflow-y: hidden;
}

#principal{
    background-color: #B7B7B7;
    height: 100vh;
    max-width: 738px;
    width: 738px;
    margin-left: 25%;
    margin-right: 25%;
}

.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 471px;
    background-position: right;
    background-size: cover;
    width: 738px;
    
}

.hero-content{
    /* background-color: darkorange; */
    color: white;
    margin-top: -15px;
}

.hero-content h1{
    text-transform: uppercase;
    text-indent:35px ;
    font-size: 55px;
    text-shadow: 3px 3px 2px #333;
    padding-top: 190px ;
    margin: 0 170px;
}

.hero-content p{
    background-color:  rgb(37, 37,37 );
    opacity: 0.6;
    color: white;
    padding: 15px 0 20px 20px;
    font-size: 18px;
    border-bottom:3px solid  ;
    margin: 80px 340px;
}

main{
    background-color: #B7B7B7;
    width: 737px;
    height:448px;    
}

.content-section{
    background-color: #E5E5E5;
    padding: 15px ;
    width: 640px;
    margin: 15px 45px 0 35px;
    display: flex;
    height: 180px;
}

.content-section2{
    background-color: #121dad;
    padding: 15px ;
    width: 640px;
    margin: 15px 45px 0 35px;
    height: 150px;
}

.content-section .card{
    background-color: rgb(70, 70, 70);
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 5px ;
    width: 211px;
    height: 165px;
}
    
.content-section2 .content-header{
	background-color: #921717;
    width: 640px;
    height: 150px;
}

.content-section2 .content-header p{
	background-color: #7e70ce;
}

.content-section2>article{
	background-color: #dfb707;
    width: 640px;
    height: 150px;
}

 .content-header h2{
    margin:0 ;
    height: 50px;
    background-color: #FFFFFF;
}

.rodape{
	color: white;
	font-size: 14px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	background: #6b6c68;
    line-height: 80px;
    width: 754px;
    margin-top: 61.5px;
}
#principal .hero ul li{
    background-color: #A5A4A1;
    padding:  10px ;
    float: right;
    text-transform: uppercase;
    margin: 20px 10px;
    background-position: right;
    list-style: none;
    border: solid 1.5px rgb(255, 249, 249);
}

a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

